<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Tasks</title>
    </head>
    <body>

        <h2>Tasks</h2>

        <!-- TODO: add the ability to list tasks -->
        <ul id="tasks">
        </ul>


        <form>
            <input type="text" name="name" id="name"/>
            <input type="button" onclick="addTask();" value="Add!"/>
        </form>

        <!-- the javascript has been embedded to the same site -->
        <script inline="javascript">
            // The URL to the application server that holds the tasks.
            var url = null;

            function loadTasks() {
                var http = new XMLHttpRequest();

                http.open("GET", 'tasks', true);
                http.onreadystatechange = function() {
                    if (http.readyState == 4 && http.status == 200) {
                        var response = JSON.parse(http.responseText);
                        console.log("here")
                        for (var i = 0; i < response.tasks.length; i++) {
                            console.log(response.tasks[i])
                            addTaskToList(response.tasks[i]);
                        }
                    }
                }
                
                http.send(null)
                console.log(http.responseText)

            }
		</script>

        <script inline="javascript">
            function addTask() {
                var name = document.querySelector("#name").value;
                if (!name) {
                    return;
                }

                console.log(name);

                var http = new XMLHttpRequest();

				// We are not using any CSRF protection(!) this should not be done in production
                http.open("POST", 'add', true);
                http.setRequestHeader("Content-type", "application/json");
                var data = new Object();
                data.name = name;

                http.onreadystatechange = function () {
                    if (http.readyState === 4) {
                        if (http.status === 200) {
                            console.log(http.responseText)
                            addTaskToList(JSON.parse(http.responseText));
                        }
                    }
                }

                http.send(JSON.stringify(data));
            }


            function addTaskToList(task) {
                var liElement = document.createElement("li");
                liElement.appendChild(document.createTextNode(task.name));
                document.querySelector("#tasks").appendChild(liElement);
            }


            window.onload = function () {
                loadTasks();
            };
        </script>
    </body>
</html>
