<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Hello Notes!</title>
    </head>

    <body>
        <h1>Hello Notes!</h1>
        {% for item in items %}
        <ul>{{item}}</ul>
        {% endfor %}



        <h2>Add content to list</h2>
            <form action="/add" method="POST">
                {% csrf_token %}
                <input type="text" name="content" />
                <input type="submit"/>
            </form>


        <h2>Clear everything</h2>
            <form action="/erase" method="POST">
                {% csrf_token %}
            </form>


    </body>
</html>
