<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Who wants to be a millionaire?</title>
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    </head>
    <body>
        <center>
            <p>We suspect that you are trying to cheat in the game.</p>


            <img src="/static/img/cat-hacker.jpg" width="25%"></img>
            <p></p>

            <a href="/"><span class="blink">back to start</span></a>
        </center>

    </body>
</html>
