<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Who wants to be a millionaire?</title>
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    </head>
    <body>
        <center>
            <h1>Who wants to be a millionaire?</h1>
            <h2>{{topic.name}} edition</h2>

            <p></p>

            <a href="/quiz/{{topic.id}}"><span class="blink">start</span></a>
        </center>
    </body>
</html>
